<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


 <% @team.collect do |player| %>
     <h2>Team Name:<%= player %></h2>
 <% end %>

 </body>
</html>
